<h2>Đăng nhập hệ thống</h2>
<% if (locals.error) { %> <p style="color:red"><%= error %></p> <% } %>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Đăng nhập</button>
</form>